<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system/index.html" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        <span>OigO•</span> app
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a>
              OigO•
            </a>
          </div>
          <div class="col-6 collapse-close text-right">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand text-center">
        <%= javascript_pack_tag 'hello_react' %>
        <h3>¿Qué te pareció el sonido del concierto?</h3>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-success btn-lg">EXCELENTE</button>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-neutral btn-lg">REGULAR</button>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-danger btn-lg">PÉSIMO</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>